@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.main {
    background-image: linear-gradient(to right top, #e48bbe, #d790cc, #c796d7, #b59be0, #a1a1e5, #8fabef, #7cb5f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 30rem;
    width: 30rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.075) 2px 5px 90px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;
}

.task-container {
    padding: 1rem 2rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-text {
    height: 2.5rem;
    width: 70%;
    border-radius: 2rem;
    border: none;
    padding-left: 1rem;
    font-weight: 500;
}

#btn {
    background-image: linear-gradient(to right top, #e48bbd49, #d790cc3f, #c796d73a, #b59be056);
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 520;
    margin-left: 0.5rem;
}

.list-container {
    flex: 1;
    overflow-y: auto;
    padding: 1rem 2rem;
}

.task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.task-list li {
    height: 2.2rem;
    width: 100%;
    border-radius: 0.4rem;
    background-color: rgba(235, 235, 235, 0.605);
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

/* Optional scrollbar styling */
.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
